<div class="container">
  <div class="row">
     <div class="col-3">
     <div id="chartdiv" style="height:400px;width:300px; "></div>
     </div>
    <div class="col-3">
    2
    </div>
    </div>
    <div class="row">
        <div class="col-3">
        3
        </div>
        <div class="col-3">
        4
        </div>

    </div>
</div>
<script>
$.jqplot('chartdiv',  [[[1, 2],[3,5.12],[5,13.1],[7,33.6],[9,85.9],[11,219.9]]]);

</script>