body { 
    padding-top: 56px;
}

.sticky-button-top-right {
    position: fixed;
    top: 65px;
    right: 0px;
    border: 1px solid orange;
    width: 80px;
    height: 80px;
    padding: 15px;
    background-color: #eee;
    text-align: center;
    border-radius: 20%;
}

.sticky-button-top-right:hover {
    background-color: #aaa;
    transition: 0.4s all ease;
    cursor: pointer;
}

.row > .select:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.col {
    background-size: 100% 100%;
    position: relative;
}

.select > p {
    position: absolute;
    text-align: center;
    bottom: -18px;
    right: 0px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 7pt;
    width: 100%;
}
.select > .progress {
    position: absolute;
    width: 100%;
    right: 0px;
    max-height: 25%;
    font-size: 6pt;
}

.col-2{
    padding: 0;
}

.col-2 > img {
    width: 100%;
    height: 750px;
}

.col-4 > .row > img {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    max-width: 100%;
    height: 500px;
}

.message {
}